.Square {
  font-size: 50px;
  background-color: antiquewhite;

  &:disabled {
    color: black;
  }

  &:enabled:hover {
    color: rgb(131, 131, 131);
  }
}

.greeting {
  background-color: aqua;
}
